name: CI
on: [push, pull_request]

jobs:
  build:
    runs-on: macOS-14
    
    steps:
    - uses: actions/checkout@v4

    - name: Read Xcode version
      id: xcode_version
      run: echo "XCODE_VERSION=$(cat .xcode-version)" >> $GITHUB_ENV

    - name: Setup Xcode using .xcode-version
      uses: maxim-lobanov/setup-xcode@v1.6.0
      with:
        xcode-version: ${{ env.XCODE_VERSION }}
    
    - name: Build
      run: swift build -v
      
    - name: Run tests
      run: swift test -v
